*__pycache__
/_SC4MP*
/_Server*
/_Servers*
/core/dummy
/dist
/dist32
/dist64
/dummy_sc4
/logs
/builds
/setupbuilds
/temp

.pylintrc
api_test.py
testing.py
test.json
version.rc

*.bat
*.exe
*.lnk
*.log
*.pdn
*.cfg
*.ini

!resources/*.exe