* {
    margin: 0;
    padding: 0;
}

body {
    background: #7d96a5;
    font-family: Verdana;
    font-size: 14px;
}

.wrapper {
    background: #FFF;
    border: 1px solid;
    margin: 20px auto 20px;
    padding: 10px 10px 10px;
    width: 600px;
}

h1 {
    color: #ad912c;
    font-size: 25px;
    margin-top: 10px;
}

h2 {
    color: #47718D;
    font-size: 19px;
    margin-top: 10px;
}

h3 {
    color: #96AEBC;
    font-size: 15px;
    margin-top: 10px;
}

h4 {
    color: #9b2c2c;
    font-size: 15px;
    margin-top: 10px;
}

p {
    font-size: 14px;
    line-height: 18px;
    margin: 5px 0;
}

a:link, a:visited { color: #2E75A4; }
a:hover { color: #438DBD; }
a:active { color: #F33; }

.figure {
    display: block;
    margin: 15px auto;
    text-align: center;
}